@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ChangePWModel;

<h1>Update your Account Password</h1>

<div class="btn-danger" asp-validation-summary="All"></div>

<div>
    <table>
        <form asp-action="AdminUpdatePassword" asp-controller="Account">
        <tr>
            <td>
                <label asp-for="Email"></label>
            </td>
            <td></td>
            <td>
                <input asp-for="Email">
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="CurrentPassword"></label>
            </td>
            <td></td>
            <td>
                <input asp-for="CurrentPassword">
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="NewPassword"></label>
            </td>
            <td></td>
            <td>
                <input asp-for="NewPassword">
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="ConfirmNewPassword"></label>
            </td>
            <td></td>
            <td>
                <input asp-for="ConfirmNewPassword">
            </td>
        </tr>
        <tr><td><br /></td></tr>
        <tr>
            <td>
                <input type="submit" class="btn btn-primary" value="Submit">
            </td>
            <td></td>
            <td>
                <button type="button" onclick="history.back()" class="btn btn-secondary">Cancel</button>
            </td>
        </tr>
        </form>
    </table>
</div>