@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ScholarRegisterModel

<h1>Register a new Scholar's Account</h1>

<div class="btn-danger" asp-validation-summary="All"></div>

<div>
    <table>
        <form asp-action="ScholarRegister" asp-controller="Admin" method="post">
        <tr>
            <td>
                <label asp-for="Email"></label>
            </td>
            <td></td>
            <td>
                <input asp-for="Email">
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="FirstName"></label>
            </td>
            <td></td>
            <td>
                <input asp-for="FirstName">
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="MiddleName"></label>
            </td>
            <td></td>
            <td>
                <input asp-for="MiddleName">
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="LastName"></label>
            </td>
            <td></td>
            <td>
                <input asp-for="LastName">
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Password"></label>
            </td>
            <td></td>
            <td>
                <input asp-for="Password">
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Phone"></label>
            </td>
            <td></td>
            <td>
                <input asp-for="Phone">
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="DateOfBirth"></label>
            </td>
            <td></td>
            <td>
                <input asp-for="DateOfBirth">
            </td>
        </tr>
        <tr>
            <td>
            <td>
                <label asp-for="University"></label>
            </td>
            <td></td>
            <td>
                <input asp-for="University">
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Address1"></label>
            </td>
            <td></td>
            <td>
                <input asp-for="Address1">
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Address2"></label>
            </td>
            <td></td>
            <td>
                <input asp-for="Address2">
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="City"></label>
            </td>
            <td></td>
            <td>
                <input asp-for="City">
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Region"></label>
            </td>
            <td></td>
            <td>
                <input asp-for="Region">
            </td>
        </tr>
        <tr><td><br /></td></tr>
        <tr>
            <td>
                <input type="submit" class="btn btn-primary" value="Submit">
            </td>
            <td></td>
            <td>
                <button type="button" onclick="history.back()" class="btn btn-secondary">Cancel</button>
            </td>
        </tr>
        </form>
    </table>
</div>