@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 id="titles" class="d-flex justify-content-start mt-2 pt-2 ms-5 ps-5">ABOUT</h1>

<div class="container text-center">
    <h2>Welcome to our organization!</h2>
    <br />
    <p>
        We are dedicated to providing valuable resources and information for our users especially scholars.
    </p>
    <p>
        This page serves as a brief overview of what our project aims to achieve.
    </p>
    <p>
        Feel free to explore other sections of our website for more information!
    </p>
</div>

<div class="accordion" id="faqAccordion" style="font-size: 16px;">
    <div class="accordion-item">
        <h2 class="accordion-header" id="faqHeading1">
            <button class="accordion-button btn btn-warning mt-2 mb-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse1" aria-expanded="true" aria-controls="faqCollapse1">
                <b>Question 1: What is this website for?</b>
            </button>
        </h2>
        <div id="faqCollapse1" class="accordion-collapse collapse show" aria-labelledby="faqHeading1" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Answer: The development of Project SMART (Scholars’ Management Affiliate for Resource Tracking) seeks to create a platform for the DOST-SEI and its scholars with the objectives of increasing both parties’ productivity and improving the existing process flow with modern solutions, fit for the current state of society. SMART will enable scholars to upload their requirements online with ease, eliminating any additional expenses they may possibly incur. SMART also offers a forum feature that allows scholars to converse with each other, answering certain questions and aiding those who require it. Additionally, other supplementary pages will be included that consist of worthwhile (static persistent) information related to the users.
            </div>
        </div>
    </div>

    <div class="accordion-item" style="font-size: 16px;">
        <h2 class="accordion-header" id="faqHeading2">
            <button class="accordion-button btn btn-warning mt-2 mb-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
                <b>Question 2: How can I contact your organization?</b>
            </button>
        </h2>
        <div id="faqCollapse2" class="accordion-collapse collapse" aria-labelledby="faqHeading2" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Answer: You can contact us through our email address at <a href="mailto:DOST-SEI@gov.ph">DOST-SEI@gov.ph</a>.
            </div>
        </div>
    </div>

    <div class="accordion-item" style="font-size: 16px;">
        <h2 class="accordion-header" id="faqHeading3">
            <button class="accordion-button btn btn-warning mt-2 mb-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3">
                <b>Question 3: Who can access the SMART web application?</b>
            </button>
        </h2>
        <div id="faqCollapse3" class="accordion-collapse collapse" aria-labelledby="faqHeading3" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Answer 3: Only scholars recognized by the DOST-SEI will have access to the SMART web application. Users need to provide credentials provided by the DOST-SEI through their respective email addresses to log in.
            </div>
        </div>
    </div>

    <div class="accordion-item" style="font-size: 16px;">
        <h2 class="accordion-header" id="faqHeading4">
            <button class="accordion-button btn btn-warning mt-2 mb-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse4" aria-expanded="false" aria-controls="faqCollapse4">
                <b>Question 4: How do I submit my required documents for the scholarship program?</b>
            </button>
        </h2>
        <div id="faqCollapse4" class="accordion-collapse collapse" aria-labelledby="faqHeading4" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Answer: The Requirements Page allows users to upload, view, or resubmit their documents for a specific academic term. The page also indicates the status of the submitted documents, providing guidance on whether any changes are needed.
            </div>
        </div>
    </div>

    <div class="accordion-item" style="font-size: 16px;">
        <h2 class="accordion-header" id="faqHeading5">
            <button class="accordion-button btn btn-warning mt-2 mb-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse5" aria-expanded="false" aria-controls="faqCollapse2">
                <b>Question 5: Can I interact with other scholars using the SMART web application?</b>
            </button>
        </h2>
        <div id="faqCollapse5" class="accordion-collapse collapse" aria-labelledby="faqHeading5" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Answer: Yes, the Connect Page is designed for scholars to interact with each other. It features a forum where scholars can post entries, discuss different topics related to their scholarship programs, and provide assistance to fellow scholars.
            </div>
        </div>
    </div>


    

</div>
