@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model RequirementsModel

<h1 id="titles" class="d-flex justify-content-start mt-2 pt-2 ms-5 ps-5">UPLOAD SCHOLAR'S TERMINAL REPORT FORM</h1>

<div class="btn-danger" asp-validation-summary="All"></div>

<hr>
<form asp-controller="Requirements" asp-action="UploadTR" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="ScholarEmailAddress" hidden></label>
        <input class="form-control" asp-for="ScholarEmailAddress" value="@User.Identity.Name" readonly hidden>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Term"></label>
        <select class="form-control" asp-for="Term" asp-items="@Html.GetEnumSelectList(typeof(Term))">
        </select>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="File"></label>
        <input asp-for="File" class="form-control">
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Status" hidden></label>
        <input class="form-control" asp-for="Status" value="FOR REVIEW" readonly hidden>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" onclick="history.back()" class="btn btn-secondary">Cancel</button>
</form>


