@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 id="titles" class="d-flex justify-content-start mt-2 pt-2 ms-5 ps-5">SCHOLARSHIP</h1>

<div class="container text-center">
    <h2>Explore Our Scholarship Programs</h2>
    <p>
        Discover the various scholarship opportunities available for talented individuals interested in science and technology fields.
    </p>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
           
            <img src="https://sei.dost.gov.ph/images/SEI_LOGO_HIGH_RESO.png" alt="Scholarship Program Image" class="img-fluid">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Scholarship Programs</h5>
                <p class="card-text">
                    Programs Offered by the Scholarships
                </p>
                <a href="#" class="btn btn-warning mt-2 mb-4" data-bs-toggle="modal" data-bs-target="#scholarshipModal">Learn More</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="scholarshipModal" tabindex="-1" aria-labelledby="scholarshipModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scholarshipModalLabel">Scholarship Programs</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h1>List of scholarship programs</h1>
                
                    <ul>
                        <li>Bachelor in Mathematics Education</li>
                        <li>Bachelor in Technology and Livelihood Education with Specialization in Information and Communications</li>
                        <li>Bachelor of Library and Information Science</li>
                        <li>BS Aeronautical Engineering</li>
                        <li>BS Aerospace Engineering</li>
                        <li>BS Agribusiness</li>
                        <li>BS Agribusiness Management</li>
                        <li>BS Agribusiness Management and Entrepreneurship</li>
                        <li>BS Agricultural and Biosystems Engineering</li>
                        <li>BS Agricultural Biotechnology</li>
                        <li>BS Agricultural Chemistry</li>
                        <li>BS Agricultural Economics</li>
                        <li>BS Agricultural Engineering</li>
                        <li>BS Agricultural Technology</li>
                        <li>BS Agriculture</li>
                        <li>BS Animal Husbandry</li>
                        <li>BS Animal Science</li>
                        <li>BS Applied Mathematics</li>
                        <li>BS Applied Mathematics major in Mathematical Finance</li>
                        <li>BS Applied Physics</li>
                        <li>BS Applied Physics with Applied Computer System</li>
                        <li>BS Applied Physics with Materials Science and Engineering</li>
                        <li>BS Applied Statistics</li>
                        <li>BS Architecture</li>
                        <li>BS Astronomy</li>
                        <li>BS Astronomy Technology</li>
                        <li>BS Basic Medical Sciences</li>
                        <li>BS Biochemistry</li>
                        <li>BS Biology</li>
                        <li>BS Biology for Teachers</li>
                        <li>BS Biotechnology</li>
                        <li>BS Ceramics Engineering</li>
                        <li>BS Chemical Engineering</li>
                        <li>BS Chemistry</li>
                        <li>BS Chemistry Major in Business</li>
                        <li>BS Chemistry for Teachers</li>
                        <li>BS Chemistry with Applied Computer Systems</li>
                        <li>BS Chemistry with Materials Science and Engineering</li>
                        <li>BS Civil Engineering</li>
                        <li>BS Clothing Technology</li>
                        <li>BS Community Nutrition</li>
                        <li>BS Computer Engineering</li>
                        <li>BS Computer Science</li>
                        <li>BS Electrical Engineering</li>
                        <li>BS Electronics and Communications Engineering</li>
                        <li>BS Environmental Engineering</li>
                        <li>BS Electronics Engineering</li>
                        <li>BS Environmental Science</li>
                        <li>BS Fine Arts Major in Industrial Design</li>
                        <li>BS Fisheries</li>
                        <li>BS Food Science and Technology</li>
                        <li>BS Food Technology</li>
                        <li>BS Forestry</li>
                        <li>BS Geodetic Engineering</li>
                        <li>BS Geography</li>
                        <li>BS Geology</li>
                        <li>BS Geothermal Engineering</li>
                        <li>BS Health Science</li>
                        <li>BS Human Biology</li>
                        <li>BS Industrial Design</li>
                        <li>BS Industrial Engineering</li>
                        <li>BS Industrial Management Engineering-Information Technology</li>
                        <li>BS Industrial Pharmacy</li>
                        <li>BS Information and Communications Technology</li>
                        <li>BS Information System</li>
                        <li>BS Information Technology</li>
                        <li>BS Information Technology Systems</li>
                        <li>BS Instrumentation and Control Engineering</li>
                        <li>BS Life Sciences</li>
                        <li>BS Management Information Systems</li>
                        <li>BS Manufacturing Engineering</li>
                        <li>BS Manufacturing Engineering-Management-Biomedical Engineering</li>
                        <li>BS Manufacturing Engineering-Management-Mechatronics and Robotics</li>
                        <li>BS Marine Biology</li>
                        <li>BS Marine Science</li>
                        <li>BS Materials Engineering</li>
                        <li>BS Mathematics</li>
                        <li>BS Mathematics and Science Teaching</li>
                        <li>BS Mathematics for Teachers</li>
                        <li>BS Mechanical Engineering</li>
                        <li>BS Mechatronics Engineering</li>
                        <li>BS Medical Laboratory Science</li>
                        <li>BS Medical Technology</li>
                        <li>BS Metallurgical Engineering</li>
                        <li>BS Meteorology</li>
                        <li>BS Microbiology</li>
                        <li>BS Mining Engineering</li>
                        <li>BS Molecular Biology and Biotechnology</li>
                        <li>BS Nutrition</li>
                        <li>BS Nutrition and Dietetics</li>
                        <li>BS Packaging Engineering</li>
                        <li>BS Petroleum Engineering</li>
                        <li>BS Pharmaceutical Sciences</li>
                        <li>BS Pharmacy (4-year program)</li>
                        <li>BS Pharmacy major in Clinical Pharmacy (5-year program)</li>
                        <li>BS Physics</li>
                        <li>BS Physics for Teachers</li>
                        <li>BS Psychology</li>
                        <li>BS Public Health</li>
                        <li>BS Speech Pathology</li>
                        <li>BS Statistics</li>
                        <li>BSE Biological Sciences</li>
                        <li>BSE Biology</li>
                        <li>BSE Biology-Chemistry</li>
                        <li>BSE Chemistry</li>
                        <li>BSE General Sciences</li>
                        <li>BSE Mathematics</li>
                        <li>BSE Physical Sciences</li>
                        <li>BSE Physics</li>
                        <li>BSE Physics-Chemistry</li>
                        <li>BSE Physics-Mathematics</li>
                        <li>BSE Science</li>
                        <li>Doctor of Veterinary Medicine</li>
                    </ul>

                   
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">

            <img src="https://sei.dost.gov.ph/images/SEI_LOGO_HIGH_RESO.png" alt="Scholarship Program Image" class="img-fluid">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Scholarship Privileges</h5>
                <p class="card-text">
                    What to expect?
                </p>
                <a href="#" class="btn btn-warning mt-2 mb-4" data-bs-toggle="modal" data-bs-target="#allowanceModal">Learn More</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="allowanceModal" tabindex="-1" aria-labelledby="scholarshipModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="allowanceModalLabel">Scholarship Privileges</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h1>Allowance and Benefits</h1>

                <ul>
                    <li><strong>Tuition and other school fees (for scholars enrolled in private HEIs):</strong> Actual fees up to ₱40,000.00 /AY</li>
                    <li><strong>Learning Materials and/or Connectivity Allowance:</strong> ₱10,000.00 /AY</li>
                    <li><strong>Monthly Living Allowance:</strong> ₱7,000.00 / month</li>
                    <li><strong>Clothing Allowance:</strong> ₱1,000 (1st Sem of 1st Year only)</li>
                    <li><strong>Transportation Allowance:</strong> 1 economy-class roundtrip fare (for those studying outside of the home province)</li>
                    <li><strong>Group Accident and Health Insurance Premium</strong></li>
                    <li><strong>Thesis Allowance:</strong> ₱10,000.00</li>
                    <li><strong>Graduation Allowance:</strong> ₱1,000.00</li>
                </ul>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div class="container text-center mt-4">
    <p>
        For more detailed information about each scholarship program and the application process, click on the "Learn More" button for each program.
    </p>
    
</div>