@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ScholarUpdatePasswordModel
@{
    ViewData["Title"] = "Update Scholar Password";
}

<h1>Scholar Update Password</h1>

<form method="post" asp-action="ScholarUpdatePassword" asp-controller="Settings">
    <!-- Add your input fields for updating the password here -->
    <label for="scholarCurrentPassword">Current Password:</label>
    <input type="password" id="scholarCurrentPassword" name="scholarCurrentPassword" required>

    <label for="scholarNewPassword">New Password:</label>
    <input type="password" id="scholarNewPassword" name="scholarNewPassword" required>

    <label for="scholarConfirmPassword">Confirm New Password:</label>
    <input type="password" id="scholarConfirmPassword" name="scholarConfirmPassword" required>
    <br />
    <button type="submit">Update Password</button>
</form>
